.content-page {
    padding-top: 90px;
}

/* MOBILE */
@media (max-width: 768px) {

    .form {
        padding: 15px;
    }

    .card {
        font-size: 14px;
    }

    .btn {
        font-size: 12px;
    }
}