.container-login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 5%;

    background-image: url("/src/assets/photos/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 100%;
}

/* form glass effect */
.form-login {
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);

    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);

    max-width: 330px;
    width: 100%;
    padding: 1rem;
}

/* bouton */
.btn-connexion {
    background: linear-gradient(to bottom right, #33cc33 25%, #009933 60%);
    border: none;
}

/* MOBILE FIX */
@media (max-width: 768px) {
    .container-login {
        justify-content: center;
        padding-right: 0;
        background-position: center;
    }

    .form-login {
        max-width: 90%;
    }
}