<!-- NAVIGATION -->
<app-navbar></app-navbar>

<div class="container content-page">

    <div class="row">

        <div class="col-12">

            <h2 class="text-light text-center mb-3">
                Liste des réservations de chambres
            </h2>

            <div class="table-responsive table-container">

                <table class="table table-striped table-bordered text-center align-middle">

                    <thead class="table-dark">
                        <tr>
                            <th>N° Client</th>
                            <th>N° Chambre</th>
                            <th>Date début</th>
                            <th>Date fin</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let res of tableReservation | filterClient : searchText">

                            <td class="fw-bold">{{ res.numCli }}</td>
                            <td>{{ res.numChambre }}</td>
                            <td>{{ res.dateDeb }}</td>
                            <td>{{ res.dateFin }}</td>

                            <td>
                                <button class="btn btn-success btn-sm w-100 w-md-auto"
                                    (click)="getPdf(res.numCli)">
                                    <i class="fa fa-file-pdf-o me-1"></i>
                                    Imprimer
                                </button>
                            </td>

                        </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>